reset {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: transparent;
}

transition {
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

body {
	background: #f1f1f1;
	margin-top: 2rem;
}
.tasker {
	max-width: 400px;
	margin: 0 auto;
}
input {
    margin-right: 10px;
    margin-bottom: 10;
}
